

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    max-width: 90%;
}

.container h1 {
    text-align: center;
}

.container div {
    margin-bottom: 10px;
}

.container label {
    display: block;
}

.container input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
}

.container button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #4fbfff 0%, #1c8fff 100%);
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

.container button:hover {
    background: linear-gradient(to bottom, #52c1ff 0%, #1f9fff 100%); 
}